<div class="container">
  <div class="banner">
    <div class="flag">
      <h1>NatTape</h1>
    </div>
  </div>

  <div class="info">
    <h1><%= @playlist.name %></h1>
    <h2><%= @playlist.description %></h2>
    <h3><%= @playlist.count %> songs, <%= format_seconds @playlist.play_length %></h3>
  </div>

  <div>
    <% form_tag url(:playlist, :edit, @playlist.url), :class => "form-inline", :method => :post, :multipart => true do %>
      <%= file_field_tag :file, :class => "input-file" %>
      <%= submit_tag "Upload", :class => "btn" %>
    <% end %>
  </div>
</div>
